body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
form input {
  width: 300px;
  padding: 11px 20px;
}
form button {
  width: 300px;
}